body{
    margin: 0;
    height: 100%;
    overflow: hidden;
}


.container{
   width: 460px;
}

.row{
    display: flex;
}

.box{
    background-color: white;
    padding: 10px;
    border: 1px solid;
    flex:1;
}
