body{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #E5E7EB;
    font-family: Roboto ;
}

h1{
    font-size: 55px;
    text-align: center;
    color: #3d4e65;
}

.main{
    display: flex;
}

#rangeLabel{
    font-size: 24px;
    color:#3d4e65;
    align-self:center;
    margin: 10px 0px;
}

#colorPicker{
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    cursor: pointer;
    border: none;
    width: 100px;
    height: 100px;
    border-radius: 50%;
    background-color: transparent;
    align-self: center;
}

#colorPicker::-webkit-color-swatch {
    border-radius: 50%;
  }

#colorPicker::-moz-color-swatch {
    border-radius: 50%;
  }

.left-panel{
    display: flex ;
    flex-direction: column;
    padding: 20px;
    background-color: #E5E7EB;
    margin-right: 25px;
}

.left-panel > button{
    margin: 10px 0px;
    color:#3d4e65;
    border-radius: 24px;
    padding: 16px 24px;
}

.container{
    display: flex;
    flex-direction: column;
    border: 2px solid;
    width: 460px;
    height: 500px;
    background-color: whitesmoke;
}

.row{
    display: flex;
    flex:1;
    width: auto;
}

.box{
    flex: 1;
    height:100%;  
}

.left-panel > .selectedButton{
    color: #fff;
    border-color: #3d4e65;
    background-color:#3d4e65;
}